@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Freeman&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    background: #35155d;
}
#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000;
    background-image: url("./img/load.gif");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999;
}
.cursor_movement {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background: #fa4c20;
}
@media (max-width: 768px ){
    .cursor_movement {
        display: none;
    }
}
header {
    width: 100%;
    // height: 8rem;
    background: #663399;
    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        #menu {
            font-size: 2rem;
            color: white;
            display: none;
        }
        #close {
            font-size: 2rem;
            color: white;
            cursor: pointer;
            display: none;
        }
        div {
            margin: 0.4rem 0rem;
        }

        .logo {
            font-size: 2.5rem;
            font-weight: 600;
            list-style: none;
            text-decoration: none;
            color: white;
            font-family: "Lobster", sans-serif;
            letter-spacing: 3px;
        }

        #navlinks {
            display: flex;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            z-index: 99;
            list-style: none;
            li {
                padding: auto 0.2rem;

                a {
                    text-decoration: none;
                    font-size: 1.5rem;
                    color: white;
                    font-weight: 100;
                    padding: 0rem 0.8rem;
                    border: 3px solid transparent;
                    &:hover {
                        transition: 0.2s;
                        border-bottom: 2px solid #fa5f20;
                        border-radius: 90%;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    header {
        width: 100%;
        padding: 3% 6% 0% 6%;
        background: transparent;
        nav {
            width: 100%;
            border-radius: 10px 10px 0px 0px;
            padding: 0rem 0.2rem;
            background: #663399;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // z-index: 100;
            #menu {
                font-size: 2rem;
                color: white;
                cursor: pointer;
                display: block;
            }
            #close {
                font-size: 2rem;
                color: white;
                cursor: pointer;
                display: none;
            }
            position: relative;
            div {
                margin: 0.4rem 0.4rem;
            }
            #navlinks {
                position: absolute;
                top: -347%; //-347%
                z-index: 99;
                right: 0;
                width: 100%;
                background: #663399;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                justify-content: center;
                align-items: center;
                list-style: none;
                padding-bottom: 0.8rem;
                border-radius: 0px 0px 10px 10px;
            }
        }
    }
}

#herosection {
    width: 100%;
    height: 90vh;
    // border: 1px solid red;
    // background: #35155D;
    color: white;
    display: grid;
    // place-content: center;
    place-items: center;
    .centerstyle {
        display: flex;
        gap: 2rem;
        margin: auto;
        // justify-content: space-around;
        width: 65%;
        // border: 1px solid red;
        .left_side {
            width: 50%;
            // border: 1px solid red;
        }
        .right_side {
            width: 50%;
            // border: 1px solid red;
            display: flex;
            justify-content: end;
        }
        h3 {
            font-size: 1.6rem;
            margin-bottom: -10px;
            font-weight: 600;
            // letter-spacing: ;
        }
        .myname {
            font-size: 2.6rem;
            font-weight: 700;
            margin-bottom: -8px;
        }
        p {
            font-size: 0.8rem;
            margin: 20px 0px;
        }
        h3 span {
            color: #fa5f20;
        }
        div {
            // border: 1px solid red;
            padding: 0.3rem;
        }
        div img {
            width: 18rem;
            height: 18rem;
            border: 5px solid #fa5f20;
            border-radius: 100%;
            background-position: center;
            background-size: cover;
        }
        button {
            background: #fa5f20;
            color: white;
            padding: 0.3rem;
            font-size: small;
            padding: 0.4rem 0.7rem;
            font-weight: 600;
            border-radius: 1rem;
            font-weight: 500;
            border: none;
            transition: transform 0.2s ease-in;
            &:hover {
                transform: scale(1.1);
                background: #663399;
                color: white;
            }
        }
    }
}

@media (max-width: 768px) {
    #herosection {
        height: auto;
        padding-bottom: 2rem;
        .centerstyle {
            display: flex;
            flex-direction: column;
            width: 100%;

            .left_side {
                width: 90%;
                margin: 2rem auto;
                z-index: -1;
            }
            .right_side {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }
}

#skill_section {
    width: 100%;
    height: auto;
    padding: 1rem 0rem;
    background: #663399;
    display: grid;
    place-content: center;
    place-items: center;

    .main_skill_title {
        text-align: center;
        font-size: 3rem;
        font-weight: 600;
        color: white;
        span {
            color: #ffffff;
        }
    }
    .main_content_65 {
        width: 65%;
        display: flex;
        // border: 1px solid red;
        gap: 2rem;
        justify-content: space-around;

        .left_col_side {
            width: 50%;
            // border: 1px solid red;

            .skill_title {
                text-align: center;
                font-size: 1.2rem;
                font-weight: 600;
                color: white;
                text-decoration: underline;
            }
            .technical_content {
                margin: 1% 0rem;
                .skelton {
                    // width: 70%;
                    height: 0.4rem;
                    margin: 0.4rem 0rem;
                    background: #fa4c20;
                }
                .skelton1 {
                    width: 70%;
                }
                .skelton2 {
                    width: 60%;
                }
                .skelton3 {
                    width: 30%;
                }
                .skelton4 {
                    width: 25%;
                }
                img {
                    width: 1.2rem;
                    height: 1.2rem;
                    margin-bottom: 0.3rem;
                }
            }
            .skillcontent {
                color: white;
                width: 90%;
                font-size: 0.8rem;
                font-weight: 400;
                display: flex;
                justify-content: space-between;

                span {
                    font-size: 0.8rem;
                }
            }
        }
        .right_col_side {
            width: 50%;
            // border: 1px solid red;

            .skill_title {
                text-align: center;
                font-size: 1.2rem;
                font-weight: 600;
                color: white;
                text-decoration: underline;
            }

            .fulldata {
                display: flex;
                flex-direction: column;
                gap: 0.6rem;
                color: white;

                h1 {
                    font-size: 2rem;
                    font-weight: 600;
                    color: #fa5f20;
                    letter-spacing: 0.1rem;
                    font-family: "Freeman", sans-serif;
                    margin-bottom: 0.5rem;
                }
                p {
                    font-size: 0.8rem;
                    // word-spacing: 0.2rem;
                    // font-weight: 500;
                    margin-bottom: 0.5rem;
                }

               
            }
        }
    }
}
@media (max-width: 768px) {
    #skill_section {
        height: auto;
        .main_content_65 {
            width: 100%;
            display: flex;
            // border: 1px solid red;
            flex-direction: column;

            .left_col_side {
                width: 100%;
                margin: 0px 0.5rem;

                .technical_content {
                    width: 90%;
                    margin: 2% auto;
                }
            }
            .right_col_side {
                width: 85%;
                margin: 0.7rem auto;
                padding: 0rem 0rem 0rem 0rem;

                .fulldata {
                    display: flex;
                    flex-direction: column;
                    gap: 0.6rem;
                    color: white;

                    h1 {
                        font-size: 1.6rem;
                        font-weight: 600;
                    }
                    p {
                        font-size: 0.7rem;
                    }
                    button {
                        font-size: 0.8rem;
                        width: 40%;
                    }
                }
            }
        }
    }
}

#project_section {
    width: 100%;
    height: auto;
    padding: 1rem 0rem;
    margin: 1rem 0rem;
    background: #35155d;
    display: grid;
    place-items: center;
    position: relative;

    .project_title {
        font-size: 3rem;
        font-weight: 600;
        color: white;
    }
    .project_card {
        display: flex;
        gap: 0.6rem;
        flex-wrap: wrap;

        .card {
            // border: 1px solid #000000;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            background: #663399;
            color: white;
            margin: 20px;
            max-width: 300px;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }

            .card_context {
                padding: 0px 20px 20px 20px;
            }
            .card_img {
                width: 100%;
                height: 15rem;
                border-radius: 8px;
                position: relative;
                .card_img_pic {
                    img {
                        width: 100%;
                        height: 15rem;
                        border-radius: 8px;
                    }
                }

                .card_img_text {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    display: none;
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;
                    // background: #35155d6b;
                }
                &:hover {
                    .card_img_text {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0%;
                        left: 0%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: #fa5e207e;
                    }
                }
            }
        }

        .card-title {
            font-size: 1.2em;
            margin-top: 10px;
        }

        .card-description {
            font-size: small;
            margin-top: 5px;
        }

        .btn {
            display: inline-block;
            // gap: 3rem;
            padding: 5px 5px;
            // background-color: #FA5F20;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 5px;
        }
    }
}
@media (max-width: 1056px) {
    #project_section {
        height: auto;

        .project_card,
        .card {
            margin: 20px auto;
            max-width: 300px;
        }
    }
}
@media (max-width: 768px) {
    #project_section {
        height: auto;

        .card {
            margin: 20px auto;
            max-width: 300px;
        }
    }
}

#contact_section {
    width: 100%;
    height: auto;
    background: #663399;
    margin: 0.5rem 0rem;
    overflow: hidden;
    div h1 {
        text-align: center;
        font-size: 3rem;
        font-weight: 600;
        color: white;
    }
    #contact_row {
        width: 80%;
        margin: 1rem auto;
        // background: #20d9fa;
        display: flex;
        // flex-wrap: ;
        gap: 1rem;
        overflow: hidden;

        .left_side {
            width: 50%;
            overflow: hidden;
            // background: #fa4c20;
            img {
                width: 100%;
                height: 30rem;
                object-fit: cover;
                overflow: hidden;
            }
        }
        .right_side {
            width: 50%;
            // border: 1px solid red;
            // background: #fa4c20;
            display: flex;
            justify-content: center;
            align-items: center;
            .container {
                position: relative;
                width: 100%;
                // border: 2px solid rgb(255, 18, 18);
            }
            form {
                width: 100%;
                .form-group {
                    margin-bottom: 20px;
                    label {
                        display: block;
                        font-size: 18px;
                        margin-bottom: 5px;
                        color: #fff;
                    }
                    input[type="text"],
                    input[type="email"],
                    textarea {
                        width: 100%;
                        padding: 10px;
                        font-size: 16px;
                        border-radius: 5px;
                        font-weight: 500;
                        border: 1px solid #ccc;
                        box-sizing: border-box;
                        outline: none;
                    }
                    textarea {
                        height: 120px;
                        resize: vertical;
                    }
                }

                button {
                    display: block;
                    width: 100%;
                    padding: 10px;
                    font-weight: 600;
                    font-size: 18px;
                    background-color: #fa5f20;
                    color: #fff;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: background-color 0.3s;
                    &:hover {
                        background-color: #fa4e09;
                        // color: #20FAD8;
                    }
                }
                
                
            }
            #success-message {
                position: absolute;
                top: -10%;
                display: none;
                margin-top: 1rem;
                padding: 1rem;
                background-color: #d4edda;
                color: #155724;
                border: 1px solid #c3e6cb;
                border-radius: 4px;
            }
            
            .hidden {
                display: none;
            }
        }
    }
}

@media (max-width: 768px) {
    #contact_section {
        width: 100%;
        height: auto;

        #contact_row {
            width: 90%;
            display: flex;
            flex-direction: column;

            .left_side {
                width: 100%;

                img {
                    height: 100%;
                }
            }
            .right_side {
                width: 100%;
                margin: 1rem 0rem;
            }
        }
    }
}

.footer {
    background-color: #663399;
    color: white;
    // padding: 20px;
    .footer_container {
        display: flex;
        flex-direction: column;

        .footer_links {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .logo {
                font-size: 2.5rem;
                font-weight: 600;
                list-style: none;
                text-decoration: none;
                color: white;
                font-family: "Lobster", sans-serif;
                letter-spacing: 3px;
            }

            ul {
                display: flex;
                gap: 1rem;
                justify-content: center;
                align-items: center;
                list-style: none;
                li {
                    padding: auto 0.2rem;

                    a {
                        text-decoration: none;
                        font-size: 1.5rem;
                        color: white;
                        font-weight: 100;
                        padding: 0rem 0.8rem;
                        border: 3px solid transparent;
                    }
                }
            }
        }

        .copyright_footer {
            width: 100%;
            padding: 0.4rem 0rem;
            background: #35155d;
            text-align: center;
        }
    }
}

@media (max-width: 768px) {
    .footer {
        .footer_container {
            .footer_links {
                width: 100%;
                display: flex;
                flex-direction: column;
                // justify-content: space-around;
                // align-items: center;

                ul {
                    display: flex;
                    flex-direction: column;
                    padding: 0.5rem 0rem;
                }
            }
        }
    }
}
